<div class="mercearia--header">
    <div class="mercearia-logo">
        <!-- Inserir imagem aqui -->
        logo
    </div>
    <div class="mercearia--header--nav">
        <div class="mercearia--top--bar">
            <a href="#">Produto</a>
            <a href="#">Categoria</a>
            <a href="#">Marca</a>
            <a href="#">Cliente</a>
            <a href="#">Fornecedor</a>
        </div>
        <div class="mercearia--bottom--bar">
            <a href="#">Home</a>
            <a href="#">Contato</a>
        </div>
        <div class="mercearia--search-bar">
            <input type="text" class="mercearia--serarch-box" placeholder="Buscar">
            <button>
                <i class="mercearia--search--btn">Buscar</i>
            </button>
        </div>
    </div>
</div>